  .wallpaper {
    background-color: lightgray;
    }

  .logo {
    font-family: candara;
    color: darkcyan;
    padding: 10px 10px 10px 10px;
    }

.taskBoxes {
    padding: 10px 10px 10px 10px;
    }

.headColour {
    background-color: goldenrod;
}



    .date {
        color: darkcyan;
        font-size: medium;
        padding: 5px;
        }
        
        .signInAndGreeting {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: darkcyan;
            font-size: medium;
            padding: 5px;;
            }
        
            .searchBar {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color:darkgoldenrod;
                padding: 5px;
                }
            



    .todoTitle {
        color: darkcyan;
        font-size: xxx-large;
        }

        .listTitle {
            color: darkslategrey;
            font-size: x-large;
            }
    
                        
.noOfTasksRemaining {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: goldenrod;
    font-size: large;

}


.priorityHeading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkcyan;
    font-size: medium;
}

.taskText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkslategrey;
    font-size: small;
}

        .footerText {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: darkcyan;
            font-size: 10px;
            padding: 10px 10px 10px 10px;
            background-color: lightgrey;
        }
        