#date {
    color: blue;
    }
    
#logo {
    color: blue;
    }

.signIn {
    color: blue;
    }
                    
.helloName {
    color: blue;
    }

.searchBar {
    color: blue;
    }

#h1 {
    color: red;
    font-size: large;
    }
     
#noOfTasksRemaining {
    color: red;
    font-size: large;

}

.newTask {

}

.taskRow {

}

.footerText {
    color: red;
    font-size: 10px;
}

#arrow {
    float: left;
}